

*{
  border-style: line;
  border-color: black;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
ul { list-style-type: none; }
#searchbar{
	margin-left: 10%;
	padding:20px;
	border-radius: 10px;
}
input[type=text] {
	width: 70%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 15s ease-in-out;
}
input[type=text]:focus {
	width: 70%;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  height: 40vh;
  flex-grow: 1;
}
li:last-child {
  flex-grow: 12;
}
img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  background-color: rgb(245, 243, 242);
  margin: 3px;
  padding: 8px;
  white-space: 5px;
  }



